<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Login Test</h1>
	<a href="https://accounts.google.com/o/oauth2/auth?client_id=1034093278574-n938gfqlq13r2eurtqqomk6sqlhniaa8.apps.googleusercontent.com&redirect_uri=http://localhost:8080/login/oauth2/code/google&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile">
		<input type="submit" value="구글로그인">
	</a>
	<a href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:8080">
		<input type="submit" value="로그아웃">
	</a>
	
</body>
</html>